<!-- Parziale da utilizzare per new e edit, hanno le stesse informazioni -->
<!-- Far inserire la cover --> 
<%= form_for @content, html: { multipart: true } do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <!-- Rendiamo più piccoli i messaggi di errore e grassetto --> 
      <h4><b><%= pluralize(@content.errors.count, "error") %> non permettono al form di essere inviato:</b></h4>

      <ul>
      <% @content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Inserimento dell'allegato, colore e label cosi da un iformare tutte le scritte-->
  <div class="field">
    <label class="grey-text">Carica il contenuto digitale che vuoi vendere (formati supportati: PowerPoint, Exel, word, PDF, immagini e mp3)</label>
    <br>
    <%= f.file_field :allegato %>
  </div>
  <br>

  <div class="field">
    <%= f.label :titolo %><br>
    <%= f.text_field :titolo %>
  </div>

  <div class="field">
    <%= f.label :descrizione %><br>
    <%= f.text_area :descrizione, class: "materialize-textarea" %>
  </div>

  
  <div class="field">
    <!-- Inserito il minimo di 50 centesimi per far funzionare stripe -->
    <%= f.label :Prezzo_min_50_cent%><br>
    <%= f.text_field :price %>
  </div>

  <!-- Inserimento della cover -->
  <div class="field">
     <label class="grey-text">Carica un'immagine da utilizzare come cover per il tuo contenuto</label>
     <br>
    <%= f.file_field :cover %>
  </div>


  <br>
  <!-- Tasto per salvare il contenuto, usando una classe btn e una classe personalizzata -->
  <div class="actions">
    <%= f.submit 'Salva Contenuto', class: "btn btn-form" %>
  </div>
  <br>
<% end %>
