<!-- mettre uno spazioni tra l'header e l'immagine -->
<div class="content-show">

<!-- <p id="notice"><%= notice %></p> -->

<!-- suddividere la pagina -->
<div class="row">
	<!-- Suddividere la pagina in due parti -->
	<div class="col l6">
		<!-- Visualizzare la cover, grande quanto la colonna assegnata, e spazio dalla foto,  -->
		<%= image_tag @content.cover.url, class: "responsive-img show-img" %>
	</div>
	<div class="col l6">
		<h1 class="show-titolo"><%= @content.titolo %></h1>

		<h4 class="show-prezzo"><%= number_to_currency(@content.price) %></h4>

		<p>Venduto da <%= @content.user.name %></p>

		<p><%= @content.descrizione %></p>

		<!-- Mostra il tasto di acquisto solo se l'utente è loggato -->
		<% if current_user %>

		<!-- Tasto per l'acquisto che prende il path da routes-->
		<%= form_tag compra_path(slug: @content.slug) do %>
	  	<script
		    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
		    data-amount="<%= (@content.price * 100).floor %>"
		    data-name="MarketPlace"
		    data-description="<%= @content.titolo %>"
		    data-email="<%= current_user.email %>"
		    data-currency="eur"
		    data-locale="auto">
	  	</script>
	 	<% end %>

		<% else %>
			<p>Fai <%= link_to "Log In", new_user_session_path %> oppure <%= link_to "Registrati", new_user_registration_path %> per poter 
				acquistare questo contenuto
			</p>
			
		<% end %>
		

	</div>

</div>
</div>


<!-- Non mostrare edit se il contentuo non è dell'utente loggato -->
<% if @content.user == current_user %> 
	<%= link_to 'Edit', edit_content_path(@content) %> |
<% end %>

<%= link_to 'Tona ai contenuti', contents_path %>
