<!-- Crearre un offset -->
<div class="row">
      <!-- Il nostro contenuto deve essere in 6 colonne, lasciando 3 colonne a sinistra, e rendendolo response per il mobile-->
      <div class="col s12 l6 offset-l3">
        <!-- Centrare il titolo e di una dimensione più piccola -->
        <h4 class="center">Registrazione</h4>

        <!--inserire uno spazio tra il titolo è il rimo campo -->
        <br>


          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <!-- Aggiungere il campo name creato per la registrazione-->
          <div class="field">
            <%= f.label :name %><br />
            <!-- di tipo text, l'autofocus è l'autoselezione di un campo -->
            <%= f.text_field :name, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email%>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <br>

          <div class="actions">
            <!-- Inserire uno stile al bottone e richiamiamo un nostro stile btn-devise-->
            <%= f.submit "Iscriviti", class:"waves-effect waves-light btn btn-devise" %>
          </div>

          <br>

        <% end %>

        <%= render "devise/shared/links" %>
      </div>  
</div>




