<!-- Crearre un offset -->
<div class="row">
      <!-- Il nostro contenuto deve essere in 6 colonne, lasciando 3 colonne a sinistra-->
      <div class="col l6 offset-l3">
        <!-- Centrare il titolo e di una dimensione più piccola -->
        <h4 class="center">Log in</h4>

        <!--inserire uno spazio tra il titolo è il rimo campo -->
        <br>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <br>

            <div class="actions">
              <!-- Inserire uno stile al bottone e richiamiamo un nostro stile btn-devise-->
              <%= f.submit "Log in", class:"waves-effect waves-light btn btn-devise" %>
            </div>
          <% end %>

          <br>

          <%= render "devise/shared/links" %>


      </div>
</div>
