<!--Rendere la barra di navigazione fissa-->
<header class="navbar-fixed">

  <!--Barra di Navigazione, e diamo il colore -->
  <nav class="blue-grey darken-2">
    
    <!-- Inserendo container implementiamo uno spazio laterale -->
    <div class="container nav-wrapper">
      
      <!-- Inserire la nostra home come logo -->
      <%= link_to "MarketPlace", root_path, class:"brand-logo"  %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
  
      
      <!-- --------------- Tab nella barra di navigazione per dektop -->
      <ul class="right hide-on-med-and-down">
        <!-- Se l'utente è loggato mostra solo il tab sotto, altrimenti altri -->
        <% if user_signed_in? %>
          <!-- Tab per fare il logout usando il metodo di cancellare la sessione--> 
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <!-- Tab per fare il LogIn --> 
          <li><%= link_to "Log In", new_user_session_path %></li>
          <!-- Tab per fare la registrazione --> 
          <li><%= link_to "Registrazione", new_user_registration_path %></li>
        <% end %>
        

      </ul>
      
      <!-- ---------------- barra di navigazione per Mobile -->
      <ul class="side-nav" id="mobile-demo">
        <!-- Se l'utente è loggato mostra solo il tab sotto, altrimenti altri -->
        <% if user_signed_in? %>
          <!-- Tab per fare il logout usando il metodo di cancellare la sessione--> 
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <!-- Tab per fare il Log In --> 
          <li><%= link_to "Log In", new_user_session_path %></li>
          <!-- Tab per fare la registrazione --> 
          <li><%= link_to "Registrazione", new_user_registration_path %></li>
        <% end %>

      </ul>

    </div>

  </nav>
</header>
