<!DOCTYPE html>
<html>
  <head>
    <title>MarketPlace</title>
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <!-- Inserire le icone -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>

    <!-- Parziale alla barra degli indirizzi -->
    <%= render "layouts/header" %>

    <!-- Per far funzionare devise, comparsa di alert -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- tutte le pagine avranno gli spazi laterali-->
    <main class="container">
      <%= yield %>
    </main>

    <!-- Parziale al footer --> 
    <%= render "layouts/footer" %>

  </body>
    
    <!--Script utile per far funzionare la barra di navigazione -->
    <script>
      $(".button-collapse").sideNav();
    </script>

</html>
