<!DOCTYPE html>
<html>
  <head>
    <title>MarketPlace</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <!-- Inserire le icone -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- font per tutto il progetto --> 
    <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">

    <!-- Rendere l'interno sito response per il mobile --> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>



  </head>
  <body>

    <!-- Parziale alla barra degli indirizzi -->
    <%= render "layouts/header2" %>

    <!-- Per far funzionare devise, comparsa di alert -->
    <!-- <p class="notice"><%= notice %></p> -->
    <!-- <p class="alert"><%= alert %></p> -->

    <!-- Gestione dei TOAST -->
    <div class="container">
      <!-- Per ogni messaggio flash che provengono dal controller inserisce un typ e un message -->
      <% flash.each do |type, message| %>
        <!-- usare materialize toast dove prende il message e rimane aperto per 4000-->
        <script>
          Materialize.toast('<%= message %>', 4000)
        </script>
      <% end %>
    </div>

    <!-- Parziale rer poter eliminare il container solo in home -->
    <%= render 'pages/slider' if action_name == 'home' %>



    <!-- tutte le pagine avranno gli spazi laterali-->
    <main class="container">
      <%= yield %>
    </main>

    <!-- Parziale al footer --> 
    <%= render "layouts/footer" %>

  </body>
    
    <!--Script utile per far funzionare la barra di navigazione -->
    <script>
      $(".button-collapse").sideNav();
    </script>

</html>
